<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SITB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="Bookmark" value="1183;전남공고;전남공고입구,1199;전남대후문(남);효동초교입구,1231;조선대;살레시오여고,1230;조선대;서남동주민센터,643;북구청;북구보건소,908;전남대후문위;성산맨션" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SITB.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </SITB.Properties.Settings>
    </userSettings>
</configuration>